trigger:
- main

pool:
  name: AKS Agent

steps:
- task: TerraformCLI@2
  displayName: Terraform Init
  inputs:
    command: 'init'
    allowTelemetryCollection: false
- task: TerraformCLI@2
  displayName: Terraform Plan
  inputs:
    command: 'plan'
    environmentServiceName: 'Azure subscription 1(afd85edf-13c9-4faa-99be-bf7468ed2149)'
    allowTelemetryCollection: false



